<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
        <ion-icon name="analytics"></ion-icon>
      <ion-label>Attendence</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab2">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
