<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    
    <ion-row>
      <ion-col size="4">Name: </ion-col>
      <ion-col> {{name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Department: </ion-col>
      <ion-col>{{department}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Location: </ion-col>
      <ion-col>{{location}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Office: </ion-col>
      <ion-col>{{office}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">Type: </ion-col>
      <ion-col>{{type}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Shift: </ion-col>
      <ion-col>{{shift.Begin}}  -  {{shift.End}} </ion-col>
    </ion-row>

</ion-grid>
 
<!-- <ion-row>
  <ion-col size="4">Office: </ion-col>
  <ion-col>{{locationCoords.timestamp | date:'medium'}}</ion-col>
</ion-row> -->
</ion-content>
