<ion-header>
  <ion-toolbar>
    <ion-title>
        Attendance 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>{{checkMessage}}</ion-label>
    <ion-toggle checked="{{(active) ? true : false }}" (click)="CheckIn()" ></ion-toggle> <!--Here click() is responsible to keeps state -->
  </ion-item>
  
  <ion-item *ngIf="locationAddress != ''">
    {{locationAddress| json}}
  </ion-item>

</ion-content>
